.logo{
    height: 50px;
    width: 55px;
    position: absolute;
    top: 0px
}
.text-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.home-text {
    padding: 10%;
}

.atm-clipart{
    padding: 10%;
}